<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Kite Task</title>
    <link rel="stylesheet" href="css/style.css">
  </head>
  <body>
    <div class="container purple pullRight">
        <h1> ANIME QUOTES API </h1>
        <a href="/randomQuote">Random Quote</a>
        <a href="/tenRandomQuotes">10 Random Quotes</a>
        <a href="/animeTitle">Quote By Anime Title</a>
        <a href="/characterName">Quote By Character Name</a>
        <a href="/allAnime">All Available Anime</a>
    </div>

    <div class="bod">
      <ol>
        <li>
            <p> <%= quote1 %> </p> <br>
        </li>
        <li>
          <p> <%= quote2 %> </p> <br>
      </li>
      <li>
        <p> <%= quote3 %> </p> <br>
    </li>
    <li>
      <p> <%= quote4 %> </p> <br>
  </li>
  <li>
    <p> <%= quote5 %> </p> <br>
</li>
<li>
  <p> <%= quote6 %> </p> <br>
</li>
<li>
  <p> <%= quote7 %> </p> <br>
</li>
<li>
  <p> <%= quote8 %> </p> <br>
</li>
<li>
  <p> <%= quote9 %> </p> <br>
</li>
<li>
  <p> <%= quote10 %> </p> <br>
</li>
      </ol>
    </div>

    
  </body>
</html>